.home_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.form-div{
    max-width: 970px;
    width: 100%;
    margin-top: 5%;
}

.logo-div{
    display: flex;
    justify-content: center;
}

.logo{
    width: 350px;
    margin-bottom: 20px;
}

.textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.drop-down-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 14px 0px;
}

.input-div{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 14px 0px;
    gap: 20px;
}

.drop-down{
    display: flex;
    align-items: center;
}

.drop-down>p{
    margin: 0px;
    margin-right: 6px;
    width: 77px;
    min-width: 77px;
}

.drop-down>select{
    padding: 3px;
    width: 100%;
}

.drop-down>input{
    width: 100%;
    padding: 3px;
}

.description-area{
    width: 100%;
    height: 60px;
}

#description-div{
    margin-bottom: 20px;
}

.submit-btn{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}